@model Lab01.Models.Student

@{
    ViewBag.Title = "DeleteWithConfirm";
}

<h2>DeleteWithConfirm</h2>
<h1>Are you sure to delete this ?</h1>

<div class="dl-horizontal">
    <div>
        @Html.DisplayNameFor(model => model.StudentId) :
        @Html.DisplayFor(model => model.StudentId)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.StudentName) :
        @Html.DisplayFor(model => model.StudentName)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Address) :
        @Html.DisplayFor(model => model.Address)
    </div>
    <div>
        @Html.DisplayNameFor(model => model.Email) :
        @Html.DisplayFor(model => model.Email)
    </div>
</div>
<hr />
@using (Html.BeginForm("DeleteWithConfirm1", "Student"))
{

    <div>
        <input type="submit" value="Delete" class="btn btn-default" />
        @*@Html.ActionLink("Delete", "DeleteWithConfirm1", "Student", new { id = 1 }) |*@
        @Html.ActionLink("Back to List", "Index")
    </div>
}