@model IEnumerable<Demo01.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPhone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPhone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CCode }) |
                @Html.ActionLink("Details", "Details", new { id = item.CCode }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CCode })
            </td>
        </tr>
    }
</table>